<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIQj_t9ZNBKch35l1c4g8XXvZOQaYli9g</string>
	<key>GCM_SENDER_ID</key>
	<string>932781534312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.self.travelAssistant</string>
	<key>PROJECT_ID</key>
	<string>travel-assistant-project</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-assistant-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932781534312:ios:1d93d2a5b5e2e970815fdd</string>
</dict>
</plist>